* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

header {
    max-height: 80px;
    min-height: 80px;
}

.modalWrapper {
    width: 100vw;
    height: calc(100vh - 80px - 120px);

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 30vw;
}

form * {
    text-align: start;
}

.modall {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
}

.h-full {
    height: calc(100vh - 95px);
}

.modalWrapper {
    position: relative;
    width: 40%;
    height: fit-content;
    background-color: darkseagreen;
    padding: 24px;
}

.closeButton {
    position: absolute;
    left: 2%;
    top: 2%;
}

.hideScroll {
    max-height: calc(100vh - 110px);
    overflow-y: scroll;
}

.mainB {
    border-radius: 8px;
    padding: 8px;
    transition: .5s;
    border: 1px solid black;
}

.wrapper {
    max-width: 80vw;
    height: calc(100vh - 100px);
    margin: auto;
}




