* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

header {
    background-color: white;
    border-bottom: 1px solid darkgrey;
    max-height: 80px;
    min-height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.modalWrapper {
    width: 100vw;
    height: calc(100vh - 80px - 120px);

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 30vw;
}

form * {
    text-align: start;
}

.modall {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
}

.h-full {
    height: calc(100vh - 95px);
}

.modalWrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #a8d2da;
    padding: 3%;
}

.wrapper {
    position: relative;
    margin-top: 150px;
    margin-bottom: 65px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hideScrool {
    overflow-y: hidden;
}

.btn {
    transition: .3s;
}




